.favorite_wrapp {
    width: 30px;
    position: relative;
    top: 0;
    left: 0;
    flex-shrink: 0;
    .counter {
        position: absolute;
        top: -5px;
        right: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 13px;
        font-weight: var(--font-bold);
        color: var(--color-black);
        text-decoration: none;
        border-radius: 50%;
        background-color: var(--color-white);
    }
    .img_favorite {
        object-fit: cover;
        object-position: center center;
    }
}
