:root {
  --color-dark-grey:  #10100e;
  --color-black: #000;
  --color-white: #fff;
  --color-yellow: #ffff00;

  --border-radius-small:  3px;

  --spacing-medium: 20px;
}

body{
  background-color: var(--color-dark-grey);
}