.not_Found_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    p {
        color: var(--color-white);
        font-size: 18px;
        margin-top: var(--spacing-large);
        text-shadow: var( --text-shadow-blue);
        span{
            font-size: 19px;
            text-decoration: underline
        }
    }
}
